#host {
  background-color: rgb(159, 156, 153);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.jumbotron {
  background-color: rgb(224, 73, 81);
  color: black;
}

.jumbotron-prequestion {
  background-color: rgb(224, 73, 81);
  color: white;
}

.starting, .countdown, .questions, .pre-question, .leaderboard {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.answer {
  text-align: center;
  font-family: 'Acme', sans-serif;
  width: 100%;
  height: auto;
}

.heyloo {
  font-family: 'Frijole', cursive;
}

.leaderboard {
  font-size: 24px;
  text-align: center;
}

.pre-question {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 40px;
}

#question-number {
  font-size: 40px;
}

.smaller-question {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  color: white;
}

.timer {
  font-family: 'Bowlby One', cursive;
  font-size: 40px;
  color: white;
}

.answer {
  font-size: 20px;
}

.answer1 {
  background-color: rgb(114, 49, 87);
}

.answer2 {
  background-color: rgb(91, 121, 97);
}

.answer3 {
  background-color: rgb(46, 77, 167);
}

.answer4 {
  background-color: rgb(224, 73, 81);
}

.players {
  font-size: 18px;
}

.players:hover {
  cursor: pointer;
}

.room-code {
  font-family: 'Acme', sans-serif;
  text-align: right;
}

.answer1, .answer2, .answer3, .answer4 {
  display: block;
  margin: 10px;
  padding: 25px;
}

#txtanswer0, #txtanswer1, #txtanswer2, #txtanswer3 {
  font-size: 35px;
  color: white;
}

/* Image size fix for answer choices at bottom of Answer Dist Chart */
.answer-chart {
  width: 100%;
  height: auto;
}
