#host {
  background-color: rgb(255, 167, 95);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.heyloo {
  font-family: 'Frijole', cursive;
}

.players {
  font-size: 18px;
}

.players:hover {
  cursor: pointer;
}

.room-code {
  font-family: 'Acme', sans-serif;
  text-align: right;
}

/*Styling for starting phase*/
.starting {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.jumbotron {
  background-color: rgb(167, 95, 255);
}

.starting-btn {
  background-color: rgb(95, 255, 167);
  font-family: 'Acme', sans-serif;
}

.starting-players {
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
}

.starting-players:hover {
  cursor: pointer;
}

/*Styling for countdown phase*/
.countdown {
  text-align: center;
  font-family: 'Acme', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
  /*font-size: 100px; Couldn't get font size to respond*/
}

/*Styling for prequestion phase*/
.prequestion {
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
}

.prequestion-timer {
  font-family: 'Bowlby One', cursive;
  font-size: 40px;
  color: black;
  border-radius: 50px;
  background: white;
  padding: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#prequestion-question-number {
  font-size: 40px;
}

.prequestion-skip-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.prequestion-prompt {
  width: 200px;
}

/*Styling for question phase*/
.question {
  font-family: 'Acme', sans-serif;
  font-size: "111";
}

.question-timer {
  font-family: 'Bowlby One', cursive;
  font-size: 40px;
  color: black;
  border-radius: 50px;
  background: white;
  padding: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.question-skip-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.question-question {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  color: white;
  text-align: center;
}

.question-reduced-prompt {
  width: 185px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
  display: block;
  margin: 0 auto;
}

.question-answer1 {
  background-color: rgb(114, 49, 87);
}

.question-answer2 {
  background-color: rgb(91, 121, 97);
}

.question-answer3 {
  background-color: rgb(46, 77, 167);
}

.question-answer4 {
  background-color: rgb(224, 73, 81);
}

.question-answer1, .question-answer2, .question-answer3, .question-answer4 {
  display: block;
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
}

.question-answer {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*Styling for answer phase*/
.answer {
  text-align: center;
}

.answer-showqs-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.answer-leaderboard-btn {
  background-color: rgb(167, 95, 255);
  color: white;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.answer-nextqs-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.answer-endgame-btn {
  background-color: rgb(220, 20, 60);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.answer-correctansw-image {
  width: 100px;
}

.answer-question {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  color: white;
  text-align: center;
}

.answer-reduced-prompt {
  width: 135px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
  display: block;
  margin: 0 auto;
}

.answer-multchoice-answer {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.answer-answer1 {
  background-color: rgb(114, 49, 87);
}

.answer-answer2 {
  background-color: rgb(91, 121, 97);
}

.answer-answer3 {
  background-color: rgb(46, 77, 167);
}

.answer-answer4 {
  background-color: rgb(224, 73, 81);
}

.answer-bar-graph {
  width: 95%;
}

.answer-answer1, .answer-answer2, .answer-answer3, .answer-answer4 {
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 20px;
}

/*Styling for leaderboard phase*/
.leaderboard, .GameOver{
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 24px;
}

.leaderboard-nextqs-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.leaderboard-endgame-btn {
  background-color: rgb(220, 20, 60);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

/* Image size fix for answer choices at bottom of Answer Dist Chart */
.AnswerChartImg {
  width: 180px;
  height: 40px;
}

/*Styling for game over phase*/
.gameover-rtnhome-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.AnswerRow {
  display: flex;
  flex-direction: row;
}
