#host {
  background-color: rgb(255, 167, 95);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.sz-container {
  height: 90%;
}

.heyloo {
  font-family: 'Frijole', cursive;
}

.players {
  font-size: 18px;
}

.players:hover {
  cursor: pointer;
}

.room-code {
  font-family: 'Acme', sans-serif;
  text-align: right;
}


/*Styling for starting phase*/

.starting {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.jumbotron {
  background-color: rgb(167, 95, 255);
}

.starting-btn {
  background-color: rgb(95, 255, 167);
  font-family: 'Acme', sans-serif;
}

.starting-players {
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
}

.starting-players:hover {
  cursor: pointer;
}


/*Styling for countdown phase*/

.countdown {
  text-align: center;
  font-family: 'Acme', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
  /*font-size: 100px; Couldn't get font size to respond*/
}


/*Styling for prequestion phase*/

.prequestion {
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 45px;
}

.prequestion-timer {
  font-family: 'Bowlby One', cursive;
  font-size: 40px;
  color: black;
  border-radius: 50px;
  background: white;
  padding: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#prequestion-question-number {
  font-size: 40px;
}

.prequestion-skip-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.prequestion-prompt {
  width: 200px;
}


/*Styling for question phase*/

.question {
  font-family: 'Acme', sans-serif;
  font-size: "111";
}

.question-timer {
  font-family: 'Bowlby One', cursive;
  font-size: 40px;
  color: black;
  border-radius: 50px;
  background: white;
  padding: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.question-skip-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}


/* Edited by STZ */

.question-prompt-instructions {
  background-color: blue;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 6vh;
  line-height: 5vh;
  padding: 1vh;
  color: white;
  text-align: center;
}

.question-prompt-image {
  padding: 5vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: green;
}

.question-prompt-image img {
  height: 50%;
  width: 50%;
  object-fit: contain;
}


/* .question-reduced-prompt {
  width: 185px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
  display: block;
  margin: 0 auto;
} */

.question-answer1 {
  background-color: rgb(114, 49, 87);
}

.question-answer2 {
  background-color: rgb(91, 121, 97);
}

.question-answer3 {
  background-color: rgb(46, 77, 167);
}

.question-answer4 {
  background-color: rgb(224, 73, 81);
}

.question-answer1,
.question-answer2,
.question-answer3,
.question-answer4 {
  display: block;
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
}

.question-answer {
  /*width: 100px;*/
  height: auto;
  display: block;
  margin: 0 auto;
}


/*Styling for answer phase*/

.answer-showqs-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.answer-leaderboard-btn {
  background-color: rgb(167, 95, 255);
  color: white;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.answer-nextqs-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.answer-endgame-btn {
  background-color: rgb(220, 20, 60);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.answer-correctansw-image {
  width: 100px;
}

.answer-question {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  color: white;
  text-align: center;
}

.answer-reduced-prompt {
  width: 135px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
  display: block;
  margin: 0 auto;
}

.answer-multchoice-answer {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.answer-answer1 {
  background-color: rgb(114, 49, 87);
}

.answer-answer2 {
  background-color: rgb(91, 121, 97);
}

.answer-answer3 {
  background-color: rgb(46, 77, 167);
}

.answer-answer4 {
  background-color: rgb(224, 73, 81);
}

.answer-bar-graph {
  width: 95%;
}

.answer-answer1,
.answer-answer2,
.answer-answer3,
.answer-answer4 {
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 20px;
}


/*Styling for leaderboard phase*/

.leaderboard,
.GameOver {
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 24px;
}

.leaderboard-nextqs-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}

.leaderboard-endgame-btn {
  background-color: rgb(220, 20, 60);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
}


/* Image size fix for answer choices at bottom of Answer Dist Chart */

.AnswerChartImg {
  width: 180px;
  height: 40px;
}


/*Styling for game over phase*/

.gameover-rtnhome-btn {
  background-color: rgb(95, 255, 167);
  color: black;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  padding: 10px;
}

.AnswerRow {
  display: flex;
  flex-direction: row;
}


/*
X
X
      THIS IS THE NEW CSS LAYOUT
X
X
*/


/* outside padding for the whole page */

.wholePageBounds {
  padding: .6vw;
}

.toolbar {
  min-height: 130px;
  max-height: 150px;
  background: red;
  color: white;
}

.prompt {
  min-height: 130px;
  max-height: 230px;
  background: purple;
}

.answersDiv {
  background: blue;
  color: white;
  text-transform: uppercase;
  min-height: 150px;
}


/* 
.answerGrid {
  background: yellow;
} */

div.fontawesomebg {
  position: relative;
}

div.fontawesomebg:before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 48px;
  color: #563d7c;
  top: -145px;
  left: 40px;
  margin-right: 5px;
  content: "\f10b";
}

.answer {
  border-radius: 1vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.answer img {
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.A {
  background-color: teal;
}

.B {
  background-color: yellow;
}

.C {
  background-color: purple;
}

.D {
  background-color: orange;
}

.tabs {
  padding: 15px;
  /* left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: 240px; */
}

.tabs input[name="tab-control"] {
  display: none;
}

.tabs .content section h2,
.tabs ul li label {
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #428BFF;
}

.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tabs ul li {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}

.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs ul li label br {
  display: none;
}

.tabs ul li label svg {
  fill: #929daf;
  height: 1.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}

.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
  fill: #bec5cf;
}

.tabs .slider {
  position: relative;
  width: 20%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
  position: relative;
  width: 100px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #428BFF;
  border-radius: 1px;
}

.tabs .content {
  background: green;
  margin-top: 30px;
}

.tabs .content section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.4;
}

.tabs .content section h2 {
  color: #428BFF;
  display: none;
}

.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428BFF;
  margin-top: 5px;
  left: 1px;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
  cursor: default;
  color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label svg {
  fill: #428BFF;
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~.slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~.content>section:nth-child(1) {
  display: block;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
  cursor: default;
  color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label svg {
  fill: #428BFF;
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~.slider {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~.content>section:nth-child(2) {
  display: block;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
  cursor: default;
  color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label svg {
  fill: #428BFF;
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~.slider {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~.content>section:nth-child(3) {
  display: block;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
  cursor: default;
  color: #428BFF;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label svg {
  fill: #428BFF;
}

@media (max-width: 600px) {
  .tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
    background: rgba(0, 0, 0, 0.08);
  }
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~.slider {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~.content>section:nth-child(4) {
  display: block;
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}

@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}