#start-page {
  background-color: rgb(159, 156, 153);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

.heyloo {
  font-family: 'Frijole', cursive;
}

button {
  display: block;
  margin: auto;
}

h1 {
  font-size: 70px;
}

span {
  cursor: pointer;
}
