<div class="wholePageBounds"
  fxLayout="column"
  fxFlexFill >
  <div fxFlex="1 auto" class="toolbar">
    xxx
  </div>
  <div fxFlex="1 auto" class="prompt">
    xxx
  </div>
  <div fxFlex="4 auto" class="answersDiv"
  fxLayout="column"
  fxFlexFill >
      <div fxFlex="1 auto" class="AnswerRow"
        fxLayout="row">
          <div fxFlex="50" class="answer A">
            A<!-- stuff -->
          </div>
          <div fxFlex="50" class="answer B">
            B<!-- stuff -->
          </div>
      </div>
      <div fxFlex="1 auto" class="AnswerRow"
        fxLayout="row">
          <div fxFlex="50" class="answer C">
            C<!-- stuff -->
          </div>
          <div fxFlex="50" class="answer D">
            D<!-- stuff -->
          </div>
      </div>
  </div>
</div>
