<!-- question-form.component.html -->
<div class="question-form" [formGroup]="questionForm">
  <label for="title">title</label>
  <input formControlName="title" />
  <br/>
  <label for="instructions">instructions</label>
  <input formControlName="instructions" />
  <br/>
  <label for="time">time</label>
  <input formControlName="time" />
  <br/>
  <label for="answerId">answerId</label>
  <input formControlName="answerId" />
  <div formArrayName="answers">
    <div *ngFor="let answer of question.answers; let idx=index">
      Answer {{answer.id}}
      <app-answer-form [answers]="questionForm.controls.answ" [answer]="answer">
      </app-answer-form>
    </div>
  </div>
</div>