#student {
  background-color: rgb(159, 156, 153);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
}

h1, h3 {
  font-family: 'Acme', sans-serif;
}

.message-text {
  text-align: center;
}

.green-text {
  color: green;
}

.red-text {
  color: maroon;
}
