<div id="student">

  <!-- starting phase -->
  <div class="container" *ngIf="currentGame?.game_state == 'starting' " class="message-text">
    <h1>You've joined Room {{currentGame?.id}}!</h1>
    <h3>Please wait for the teacher to start the game.</h3>
  </div>

  <!-- question phase -->
  <div class="container" *ngIf="currentGame?.game_state == 'question'">
    <div *ngIf="player?.answered == false">
      <div class="row">
        <div class="col-md-6">
          <div class="answer-choice" id="answer1" (click)='getStudentAnswer(inputPostion0.value)'>
            <input type="hidden" #inputPostion0 value="0">
            <i class="fa fa-paper-plane fa-5x" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-6">
          <div class="answer-choice" id="answer2" (click)='getStudentAnswer(inputPostion1.value)'>
            <input type="hidden" #inputPostion1 value="1">
            <i class="fa fa-star fa-5x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="answer-choice" id="answer3" (click)='getStudentAnswer(inputPostion2.value)'>
            <input type="hidden" #inputPostion2 value="2">
            <i class="fa fa-heart fa-5x" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-6">
          <div class="answer-choice" id="answer4" (click)='getStudentAnswer(inputPostion3.value)'>
            <input type="hidden" #inputPostion3 value="3">
            <i class="fa fa-rocket fa-5x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class='container' *ngIf="player?.answered == true" class='message-text'>
      <h1>Your response has been recorded.</h1>
    </div>
  </div>

  <!-- answer phase -->
  <div class="container" *ngIf="currentGame?.game_state == 'answer' || currentGame?.game_state == 'leaderboard'">
    <div class="container">
      <h1><u>{{subStudent?.name}}</u></h1>
      <h3 *ngIf="player?.questionPoints !== 0" class="green-text">Correct!</h3>
      <h3 *ngIf="player?.questionPoints == 0" class="red-text">Incorrect.</h3>
      <h3>Points earned for this question: {{subStudent?.questionPoints}}</h3>
      <hr>
      <h1>Overall Progress</h1>
      <h3>Total points: {{subStudent?.points}}</h3>
      <h3>Leaderboard Position: {{currentPosition}}/{{totalPositions}}</h3>
      <h3>Position Change:
        <span [class]="positionChangeColor">{{positionChange}}</span>
      </h3>
      <div *ngIf="currentGame?.game_over == true">
        <hr>
        <h1>Game Over!</h1>
        <a class="btn btn-primary" href="/register">Return to Home</a>
      </div>
    </div>
  </div>
</div>