#student {
  background-color: rgb(159, 156, 153);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
}

h1, h3 {
  font-family: 'Acme', sans-serif;
}

.message-text {
  text-align: center;
}

.green-text {
  color: green;
}

.red-text {
  color: maroon;
}

#answer1 {
  background-color: rgb(114, 49, 87);
  height: 100%;
  width:100%;
}

#answer2 {
  background-color: rgb(91, 121, 97);
}

#answer3 {
  background-color: rgb(46, 77, 167);
}

#answer4 {
  background-color: rgb(224, 73, 81);
}

.answer-choice {
  display: block;
  margin: 10px;
  padding: 25px;
}

.answer-choice:hover {
  cursor: pointer;
}
