<div id="register">
  <div class="container">
    <h3>Enter your information below to join an existing room:</h3>
    <br>
    <form class="" action="index.html" method="post">
      <h5><label>Name:</label></h5>
      <input type="text" #username>
      <br>
      <h5><label>Room code:</label></h5>
      <input type="number" #roomcode>
      <br><br>
      <button class="btn btn-primary" type="button" (click)="register(username.value, roomcode.value); roomcode.value=''">Register</button>
    </form>
  </div>
</div>
